*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  color: #1f1f1f;
}

form {
  max-width: 60%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin: 0 0 30px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea, select {
  border: none;
  font-size: 0.9em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px; 
}

input[type="radio"], input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 20px 40px 20px 40px;
  color: #fff;
  background-color: #4bc970;
  font-size: 1.0em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
  margin: 10px;
  padding: 0,20,0,20;
}

.number {
  background-color:royalblue;
  color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: inline-block;
  font-size: 0.8em;
  line-height: 30px;
  text-align: center;
  margin-right: 4px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);

}


@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}